* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    width: 100%;
    margin: 0;
    line-height: 2rem;
}

section {
    padding: 3rem 0rem 6rem 0rem;
  }

.container {
    width: 45em;
    margin: 0 auto;
  }

/* h1 {
    color: #FFFFFF;
    background-image: url(img/banner.jpg);
    position: relative;
    height: 500px;
    margin: 0px;
    padding: 100px 240px;
    text-decoration: underline;
} */

h2 {
    font-weight: 900;
    font-size: 2.5rem;
}

.nav {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    padding: 0px 15px;
}

.banner {
    height: 25rem;
    background: #223c88 url('img/banner.jpg') center/cover no-repeat;
  }
  
  .banner h1 {
    width: 18rem;
    padding-bottom: 1rem;
    border-bottom: 4px solid white;
    color: white;  
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 900;
  }
  
  .yellow {
    color: #ffE964;
  }
  
  .red {
    color: #ff523d;
  }
  
  .blue {
    color: #223c88;
  }
  

/* .banner {
    background-image: url(img/banner.jpg);
    height: 500px;
    position: relative;
    background-size: cover;
} */
.mission {
    background-color: #FFE964;
    color: #000000;
    padding: 40px 240px;
    text-align: center;
}

.aboutus {
    background-color: #FFFFFF;
    color: #000000;
    padding: 40px 240px;
    text-align: left;
}

.aboutus p {
    text-align: left;
}

.ourteam {
    color: #FFFFFF;
    background-color: #FF523D;
    padding: 40px 240px;
    text-align: center;
}

.ourteam h2 {
    text-align: left;
}

.footer {
    background-color: #223C88;
    margin: 0;
    padding: 40px 240px;
    text-align: left;
}

.footer h2 {
    color: #FFFFFF;
}

.footer p {
    color: #FFFFFF;
    text-align: left;
}